<div class="login-form">
    <h2>Log in to SquarePrice</h2>
<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">

    <signin [parent]="form"></signin>
    <register [parent]="form"></register>

    <div class="login_submit">
        <button type="submit" [disabled]="form.invalid">Login</button>
    </div>
    <pre>{{form.value | json}}</pre>
</form>
    </div>