blockquote {
  border-left:5px #158126 solid;
  background:#fff;
  padding:20px 20px 20px 40px;
}
blockquote::before {
  left: 1em;
}
.container {
  display:flex;
}
.intro {
  text-align:center;
}
.container .item {
  padding: 20px;
  margin: 20px;
  color: #666;
  font-size: 13px;
  line-height: 17px;
  background: #f7f8f9;
}
.container .item h3 {
  color: #000;
}
.container .wrap {
  margin:0 auto;
}
.container .wrap .table ul {
  display:flex;
  padding:0;
  margin:0;
}
.container .wrap .table ul li {
  flex:1;
  list-style:none;
  padding:0px;
  margin:0;
  border:1px solid #ccc;
}
.container .wrap .table ul li .top h1 {
  text-align:center;
  color:#fff;
  margin:0;
  font-size:20px;
}
.container .wrap .table ul li .top {
  background:#324866;
  padding:10px 0;
}
.container .wrap .table ul li .bottom {
  padding:10px;
  position:relative;
  height:350px;
}
.container .wrap .table ul li .bottom .sign {
  height:80px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}
.container .wrap .table ul li .top div {
  text-align:center;
  color:#ccc;
  font-size:16px;
}
.container .wrap .table ul li .bottom .purple {
  background:#28aa94 !important;
}
.container .wrap .table ul li .bottom .button {
  color: white;
  background: #ccc;
  display: block;
  margin: 0 auto;
  width: 130px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}