<div class="home">
  <p class="intro">Automate price matching with the squareprice API</p>
  <div class="container">
    <div class="item">
      <h3>Price Research</h3>
      <p>Collect prices for thousands of products via our REST API or manage a product list from the dashboard, upload your CSV file today.</p>
    </div>
    <div class="item">
      <h3>Price History</h3>
      <p>View historical price matches and price history, monitor price action from your competitors over time</p>
    </div>
    <div class="item">
      <h3>Analysis</h3>
      <p>Find pricing "sweet spots" to stay ahead of the competition</p>
    </div>
  </div>
  <div class="line"></div>
  <div class="container">
    <div class="wrap">
      <div class="table">
        <ul>

          <li>
            <div class="top">
              <h1>TRIAL</h1>
              <div class="circle">7 Day trial</div>
            </div>
            <div class="bottom">
              <p><span>5</span> products every 1 hour</p>
              <p><span>120</span> products every 24 hours</p>
              <p><span>1</span> month price history</p>
              <p>CSV Upload</p>
              <p>RESTapi access</p>
              <div class="sign">
                <a href='#' class='button'>SIGN UP</a>
              </div>
            </div>
          </li>

          <li>
            <div class="top">
              <h1>BASIC</h1>
              <div class="circle">£58 per month</div>
            </div>
            <div class="bottom">
              <p><span>20</span> products every hour</p>
              <p><span>500</span> products every 24 hours</p>
              <p><span>6</span> month price history</p>
              <p>CSV Upload</p>
              <p>RESTapi access</p>
              <div class="sign">
                <a href='#' class='button'>SIGN UP</a>
              </div>
            </div>
          </li>

          <li>
            <div class="top purple white">
              <h1>PRO</h1>
              <div class="circle pink">£200 per month</div>
            </div>
            <div class="bottom">
              <p><span>80</span> products every hour</p>
              <p><span>2000</span> products every 24 hours</p>
              <p><span>12</span> month price history</p>
              <p>CSV Upload</p>
              <p>RESTapi access</p>
              <div class="sign">
                <a href='#' class="button purple" style="color:white;">SIGN UP</a>
              </div>
            </div>
          </li>

          <li>
            <div class="top">
              <h1>CUSTOM</h1>
              <div class="circle">Contact Us</div>
            </div>
            <div class="bottom">
              <p><span>Custom</span> frequency of your choice</p>
              <p><span>Unlimited</span> products</p>
              <p><span>Unlimited</span> price history</p>
              <p>RESTapi access</p>
              <p>Custom API Integration support</p>
              <div class="sign">
                <a href='#' class='button'>Enquire</a>
              </div>
            </div>
          </li>

        </ul>
        <h3>Need more or less frequent price matches?, get in touch for a custom package tailored to your needs</h3>
      </div>
    </div>
  </div>
</div>
