body {
    margin:0;
}
* { padding:0; margin:0; font-family: 'Droid Sans', sans-serif; }
#universal { text-align:center; font-weight:bold; padding:15px 0; }
nav { background:#324862; min-height:60px; flex:1; }
nav a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    color:#fff;
    text-decoration:none;
    margin:15px;
}
.register {
    border-radius: 10vh;
    background: #28aa94;
    padding: 10px 35px;
}
.register:hover {
    color:#fff !important;
}
nav a:hover { color:#28aa94; }
.hero-universal { min-height:500px; display:block; padding:20px; }
.inner-hero { background: rgba(255, 255, 255, 0.75); border:1px #ccc solid; padding:25px; }
.router-link-active { color: #28aa94; }
.logo-container {
    line-height: 40px;
    min-height:40px;
    flex:1;
    display:inline-block;
    background: #324866
}
.logo {
    font-family: "bebas-neue";
    display:inline-block;
    text-align:center;
    color: #fff;
    font-size: 30px;
    background: #324866 url(/assets/logo.svg) left 50% no-repeat;
    background-size: 50px;
    min-width: 240px;
    margin-left:50px;
    margin-top:10px;
}
.header {
    display:flex;
}
footer {
    padding:20px;
    font-size:11px;
}

main { padding:20px 0; }
pre { font-size:12px; }