blockquote {
  border-left:5px #158126 solid;
  background:#fff;
  padding:20px 20px 20px 40px;
}
blockquote::before {
  left: 1em;
}
.route {

}
.explainer {
  margin:40px 0px;
}
.explainer .code {
  border-radius: 1vh;
  background:#f2f0f8;
  padding:20px 20px;
  color:#616161;
  font-family: 'Overpass Mono', monospace;
}
.route table {
  margin:0;
  padding:0;
  border:none;
  border-spacing: 0;
  width:100%;
  max-width:600px;
}
.route {
  margin:0 0 40px;
}
.route table thead {
  background:#f1f1f1;
}
.route table thead th {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding:10px 5px;
  text-align:left;
}
.route table thead th:first-child {
  width: 30%;
}
.route table tbody td {
  padding:10px 10px;
}
.route table .pill {
  background:#9b99a5;
  color:#fff;
  border-radius: 50vh;
  display:inline-block;
  padding:3px 8px;
  font-size:13px;
}
.route table .pill.error {
  background:#b48880;
}
.route table .pill.ok {
  background:#99b480;
}
.route table .pill.partial {
  background:#b4a580;
}
.docs {
  display:flex;
}
.docs-nav {
  min-width:280px;
}
.docs-content {
  flex:1;
}
.docs-image {
  width:180px;
}