<div class="docs">
  <div class="docs-nav">
    <nav>
      <a href="">Overview</a>
    </nav>
  </div>
  <div class="docs-content">
  <h2>Overview</h2>
  <p>Documentation for SquarePrice API 1.0</p>

  <div class="explainer">
    <section>
    <h3>Before you start</h3>
    <p>The SquarePrice API is designed for developers, engineers or anyone else who likes to create custom solutions for RESTful APIs.</p>
      </section>
    <section>
      <h3>Resources</h3>
      <p class="code">http://squareprice.co.uk/api</p>
      For example to call the price api endpoint the URL would be http://squareprice.co.uk/api/price to use the API you must first have authenticated and hold a valid API key which is available in your account.
    </section>
  </div>
  <div class="route">
    <h3>Authenticate</h3>
    <p>Prior to calling any other route, you must authenticate. The token provided in the response is valid for 24 hours.</p>
    <table>
      <thead>
      <th>HTTP method</th>
      <th>Endpoint</th>
      <th>Function</th>
      </thead>
      <tbody>
      <tr>
        <td><span class="pill">POST</span></td>
        <td>/authenticate</td>
        <td>API Authentication token</td>
      </tr>
      </tbody>
    </table>
    <table class="responses">
      <thead>
        <th>Response Code</th>
        <th>Message</th>
      </thead>
      <tbody>
        <tr>
          <td><span class="pill">200</span></td>
          <td>Successfully authorised</td>
        </tr>
        <tr>
          <td><span class="pill error">400</span></td>
          <td>Invalid parameters</td>
        </tr>
        <tr>
          <td><span class="pill error">403</span></td>
          <td>Failed to authenticate</td>
        </tr>
      </tbody>
    </table>
    <table class="rate">
      <thead>
      <th>Rate limit</th>
      <th>amount</th>
      </thead>
      <tbody>
      <tr>
        <td><span class="pill">5</span></td>
        <td>Per hour</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="route">
    <h3>Price</h3>
    <table>
      <thead>
      <th>HTTP method</th>
      <th>Endpoint</th>
      <th>Function</th>
      </thead>
      <tbody>
      <tr>
        <td><span class="pill">POST</span></td>
        <td>/price</td>
        <td>Price Match</td>
      </tr>
      </tbody>
    </table>
    <table class="responses">
      <thead>
      <th>Response Code</th>
      <th>Message</th>
      </thead>
      <tbody>
      <tr>
        <td><span class="pill ok">200</span></td>
        <td>Price matched and found</td>
      </tr>
      <tr>
        <td><span class="pill partial">204</span></td>
        <td>Product found but no match against retailer list</td>
      </tr>
      <tr>
        <td><span class="pill partial">206</span></td>
        <td>Product found but no retailers found</td>
      </tr>
      <tr>
        <td><span class="pill error">404</span></td>
        <td>Product could not be found from GTIN/Barcode reference</td>
      </tr>
      <tr>
        <td><span class="pill error">429</span></td>
        <td>Account limit hit</td>
      </tr>
      </tbody>
    </table>
    <table class="rate">
      <thead>
      <th>Rate limit</th>
      <th>amount</th>
      <th>account</th>
      </thead>
      <tbody>
      <tr>
        <td><span class="pill">Requests</span></td>
        <td>5 Per second</td>
        <td>All</td>
      </tr>
      <tr>
        <td><span class="pill">Queries</span></td>
        <td>Custom per account (see X-Rate-Sp-Interval-Reset)</td>
        <td>Packaged accounts</td>
      </tr>
      </tbody>
    </table>
    <h3>Rate limit response headers</h3>
    <table class="rate">
      <thead>
      <th>Header</th>
      <th>Definition</th>
      </thead>
      <tbody>
      <tr>
        <td><span class="pill">X-Rate-Sp-Interval-Reset</span></td>
        <td>Interval in milliseconds between requests</td>
      </tr>
      <tr>
        <td><span class="pill">X-Rate-Sp-Limit</span></td>
        <td>Number of price matches in credit on your account</td>
      </tr>
      <tr>
        <td><span class="pill">X-Rate-Sp-Reset</span></td>
        <td>Time in milliseconds when your balance is reset</td>
      </tr>
      <tr>
        <td><span class="pill">X-Rate-Sp-Remaining</span></td>
        <td>Remaining credits on for the current period</td>
      </tr>
      <tr>
        <td><span class="pill">X-RateLimit-Limit</span></td>
        <td>Authentication requests limit</td>
      </tr>
      <tr>
        <td><span class="pill">X-RateLimit-Remaining</span></td>
        <td>Remaining authentication requests</td>
      </tr>
      </tbody>
    </table>
    <p>There is a limit on the number of requests allowing 5 requests every 1 second, with a default delay of 1 second between requests</p> <p>You may also be limited if you have reached your account limit (the number of products allowed per time period e.g 24 hours), queries remaining on your account will be shown in the response header as X-Rate-Sp-Remaining. This is the number of price matches that you have left</p>
    <p>The 429 response deals with 2 conditions the above and the interval you must leave between requests, you can get the correct interval you need to leave between requests by using the X-Rate-Sp-Interval-Reset header that is returned in the case of a 429 response, delay your next request by this amount of time</p>
  </div>

  <div class="route">
    <h3>General Codes</h3>
    <table class="responses">
      <thead>
      <th>Response Code</th>
      <th>Message</th>
      </thead>
      <tbody>
      <tr>
        <td><span class="pill">401</span></td>
        <td>No authentication token provided</td>
      </tr>
      <tr>
        <td><span class="pill">429</span></td>
        <td>Too many requests, throttle your requests to API limits</td>
      </tr>
      <tr>
        <td><span class="pill">500</span></td>
        <td>Internal server error</td>
      </tr>
      </tbody>
    </table>
  </div>
    </div>
  <div class="docs-image"><img src="/assets/target.svg"></div>
</div>
